a {
    all: unset;
}

.container {
    width: 550px;
    height: 868px;
    background-color: #23252C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.main_body {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-collapse: separate;
    perspective: 1px;


}

.header {
    width: 317px;
    height: 317px;
    background-color: darkgoldenrod;
    border-radius: 15px 15px 0 0;
}

.header-img {
    border-radius: 15px 15px 0 0;
    width: 317px;
    height: 317px;
}

.main_content {
    width: 317px;
    height: 400px;
    background-color: #1A1B21;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
}

.main_content-title > p:nth-of-type(1) {
    font-weight: 700;
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main_content-title > p:nth-of-type(2) {
    font-weight: 400;
    font-size: 13px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
    color: #F3BF99;
}

.main_content-title > p:nth-of-type(3) {
    font-weight: 200;
    font-size: 10px;
    margin-top: 7px;
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    padding-top: 10px;

}

.button1 {
    width: 115px;
    border-radius: 5px;
    background-color: #5093E2;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.button1-img {
    width: 15px;
    height: 15px;
}


.button2 {
    width: 115px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;

}

.button2-img {
    width: 17px;
    height: 17px;
}

.main_content-text {
    text-align: left;
    font-weight: 100;
    font-size: 75%;
    padding: 15px 30px 15px 30px;
}

.main_content-text-titles {
    font-weight: 500;
    font-size: 130%;
    line-height: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer {
    width: 317px;
    height: 65px;
    background-color: #161619;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer > img {
    width: 35px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}